<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Log In</h2>
    <form action="/login" method="post">
    <input type="text" name="name" placeholder="Mathew">
    <input type="password" name="password" placeholder="mathew@123">
    <input type="submit" value="">
    </form>

<a href="/signup" target="_blank" rel="noopener noreferrer">Create Account</a>
</body>
</html>